
DATABASE_URL=postgresql://swyft_user:jIZoVHxuQLuo2vZyXTbVnDe2NQWAIY1V@dpg-d7npcftckfvc73f5obhg-a/swyft_mxs4
QB_CLIENT_ID=ABiGcl2xIYnjkkgdmW6nOEYOv0mFicjV5qQGLysIKrUvWfD3zX
QB_CLIENT_SECRET=4tVLS2szOPGVIH07YXQgqcSAkvToqTC2xiDiNR2X
QB_REDIRECT_URI=https://swyft-ops.onrender.com/qb/callback
NODE_ENV=production
